In [1]:
PRINT("Hello World")

NameError: name 'PRINT' is not defined

In [2]:
print("hello world")

hello world

In [3]:
x=10
y=5
sum=int(x)+int(y)
print(sum)

15

In [6]:
list=["cat","cow","lion","tiger"]
print(list)

['cat', 'cow', 'lion', 'tiger']

In [11]:
name1=("athira")
name2=("narendranath")
print(name1,"", name2)

athira  narendranath